#toplevel_page_wp-defender > ul > li.wp-first-item > a > span {		 		  	    	 				  	
    display: none;
}

.def-oval {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: #E6E6E6;
    display: block;
}

.def-oval.oval-green {
    background-color: #1ABC9C;
}

.def-warning {
    border-radius: 4px;
    background-color: #FFF5D5;
    color: #666;
    padding: 10px 20px;
    font-size: 14px;
    font-style: italic;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.def-warning i {
    color: #FECF2F
}


/* 696318-1540409281-au */