/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');

/*# sourceMappingURL=style.css.map */

.submit1 {
    color: #fff !important;
background-color:#209dd6!important;
    margin-top: 4px!important;
    padding-top: 6px!important;
}
.title_subtitle_holder {
    display: none;
}
.qode_icon_font_awesome.fa.fa-bars{
    display:none;
}

.cform12 {
    list-style: none;
}
.cform12 li {
    display: table;
    width: 100%;
}
.cform12 label {
    display: table-cell;
    width: 35%;
    font-size: 10pt;
    color: #5a5a5a;
    font-weight: bold;
    padding: 4px 9px;
}
.cform12 em {display: table-cell;}
.cform12 label span {color:#f00;}
.cform12 li input {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}
.cform12 li textarea {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}
.submit2
{
color:#fff !important;
background-color:#ffa500!important;
  margin-top: 4px!important;
    padding-top: 6px!important;
}
.cform13 {
    list-style: none;
}
.cform13 li {
    display: table;
    width: 100%;
}
.cform13 label {
    display: table-cell;
    width: 35%;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    padding: 4px 9px;
}
.cform13 em {display: table-cell;}
.cform13 label span {color:#f00;}
.cform13 li input {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}
.cform13 li textarea {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}

.colordark{
color:#000!important;
}
.comment_holder {
    display: none;
}
.title_subtitle_holder_inner {

    margin-top: 31%;
    }
.title h1, .title.title_size_small h1 {
    font-size: 35px;
    line-height: 1.304347826086957em;
    color: #384047;
    text-transform: inherit;
}
.blog_holder article .post_info {

    display: none;
    }

.date.entry_date.updated {
    display: none;
}
.drop_down .narrow .second .inner ul li {

    width: 255px;
}
.drop_down .second .inner ul li a
{
	    text-transform: inherit !important;
	        font-size: 12px!important;
}
.footer_top {
    padding: 29px 0 52px;
}

nav.main_menu ul li {
  height: 74px;
    }

.submitbutton{
    color: #fff !important;
    background-color: #209dd6!important;
    margin-top: 6px!important;
    padding-top: 16px!important;
    padding-bottom: 14px;
    padding-right: 23px;
    padding-left: 22px;
   border: 1px solid #209dd6;
    margin-left: -110px;
    font-size: 16px;
}
.box1 {
    padding-top: 21px;
    padding-bottom: 19px;
    margin-right: 25px;
    padding-right: 100px;
    padding-left: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
}
.main_menu.drop_down.left .color1 a {
color: #69abdc !important;

}
a.current {
    border-bottom: 1px #209dd6 solid;
}

.main_menua .current a {
    border-bottom: 2px soild #69abdc !important;
}
.borderline1 {
    margin-bottom: -60px;
    padding-bottom: 20px;
    margin-top: 32px;
}
.menu_icon.fa-angle-right.fa {
    float: right;
}
.menu_icon.fa-angle-double-right.fa {
    float: right;
}


@media screen and (max-width:1000px) {
  body > div.wrapper > div > div > div > div.full_width > div > div.vc_row.wpb_row.section.vc_row-fluid.vc_custom_1499147150333.grid_section{
    display: none;
  }

}
