

.header_bottom, .header_top{
    position: absolute;
    width: 100%;
    margin-top: 20px;
}


.q_logo, .q_logo a {
    padding-top: 20px;
    padding-bottom: 57px;
}
.q_logo, .q_logo a {
    padding-top: 20px;
    padding-bottom: 57px;
}
.q_logo img
{
    top: -86%;
}
nav.main_menu.left{
    margin-top: -46px;
}
   
.header_bottom{
 height: 20px;
    margin-top: 47px;
    padding-top: 21px;
    padding-bottom: 8px;
}
nav.main_menu.drop_down.left {
 left: 283px !important;
}
.header_bottom {
    background-color: rgba(255, 255, 255, 0.83)!important;
}